html {
  box-sizing: border-box;
}

html * {
  font-family: "verdana";
}

body {
  background-color: #272727 !important;
  margin: 0;
  padding: 0;
  align-items: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.content {
  padding-top: 110px;
}

input {
  background-color: #C4C4C4;
  height: 40px;
  font-size: 15px;
  text-align: center;
  overflow: scroll;
}

button {
  font-weight: 700;
  background: #B4D1D1;
  color: #1A2630;
  border: none;
  border-radius: 10px;
  text-transform: uppercase !important;
}
button:hover {
  background: #3d6464;
  color: #B4D1D1;
}

.menu-bar {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.menu-bar ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 1.5vw !important;
  overflow: hidden;
  background-color: #272727;
}
.menu-bar .logo {
  width: 50px;
  height: 60px;
  float: right !important;
  background-color: transparent;
  margin-right: 2.5vw;
  margin-bottom: 30px;
  margin-top: -30px;
}
.menu-bar .logo a {
  text-align: right;
  font-size: 50px;
  color: #BDCFCF;
}
.menu-bar .logo a:hover:not(.active), .menu-bar .logo .active {
  background-color: transparent;
}
.menu-bar li {
  border-radius: 10px;
  background-color: #75A3A3;
  min-width: 150px;
  height: 40px;
}
.menu-bar li a {
  display: block;
  color: #233340;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.menu-bar li a.active {
  color: #AAD0D0;
}
.menu-bar li a:hover:not(.active), .menu-bar li .active {
  background-color: #115F5F;
  color: #AAD0D0;
  border-radius: 10px;
  height: 40px;
}
@media screen and (min-width: 900px) {
  .menu-bar li {
    float: left;
    width: 25vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
.menu-bar hr {
  border: none;
  height: 3px;
  color: #ADADAD;
  background-color: #ADADAD;
  width: 95%;
  margin-left: 2.5%;
}
.menu-bar .topnav {
  display: block;
  float: left;
  position: relative;
}
.menu-bar .topnav a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.menu-bar .topnav button.icon {
  border: none;
  outline: none;
  color: #75A3A3;
  background-color: inherit;
  padding: 5px 15px;
  margin: 0;
  font-weight: inherit;
  text-transform: inherit;
  height: 40px;
}
.menu-bar .topnav button:hover {
  color: #115F5F;
}
.menu-bar .topnav .a:hover, .menu-bar .topnav .topnav-dropdown:hover .topnav-dropbtn {
  border-bottom: 3px solid #0a0a0a;
}
.menu-bar .topnav .a.active {
  border-bottom: 3px solid #0a0a0a;
  color: #0a0a0a;
}

.topnav-dropbtn-active {
  border-bottom: 3px solid #0a0a0a !important;
  color: #0a0a0a !important;
}

.topnav-dropdown {
  display: block;
  float: left;
  position: relative;
}

.topnav-dropdown .topnav-dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #0a0a0a;
  padding: 20px 15px;
  background-color: inherit;
  margin: 0;
  font-weight: inherit;
  text-transform: inherit;
}

.topnav-dropdown-content {
  display: none;
  position: relative;
  background-color: rgba(199, 199, 199, 0.87);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.445);
  z-index: 1;
  right: 0;
  margin-right: 3vw;
  margin-top: 50px;
  padding: 5px;
}
.topnav-dropdown-content svg {
  margin-right: 5px;
}
.topnav-dropdown-content a, .topnav-dropdown-content button {
  float: none;
  color: #0a0a0a;
  background-color: transparent !important;
  font-weight: 400;
  font-size: 15px;
  text-transform: none !important;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  display: block;
  text-align: right;
}
.topnav-dropdown-content a:hover, .topnav-dropdown-content button:hover {
  background-color: rgba(121, 121, 121, 0.705) !important;
  border-bottom: transparent;
  display: block;
  color: #0a0a0a;
}
.topnav-dropdown-content a.active, .topnav-dropdown-content button.active {
  border-bottom: none;
  background-color: rgba(121, 121, 121, 0.705);
}

.topnav-dropdown:hover .topnav-dropdown-content {
  position: fixed;
  display: block;
}

.signin-form {
  text-align: center;
}
.signin-form .title {
  font-size: 100px;
  font-weight: 700;
  color: #C4C4C4;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.signin-form .checkbox {
  text-align: center;
  color: #BECFCF;
  margin-top: 25px;
}
.signin-form .checkbox input {
  height: 14px;
}
.signin-form button {
  min-width: 410px;
  width: 50vw;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 399px) {
  .signin-form button {
    min-width: 0;
    width: 90vw;
  }
}
.signin-form a {
  color: #78A3A3;
  text-decoration: underline;
}
.signin-form a:hover {
  color: #78A3A3;
  text-decoration: none;
}
.signin-form .forgot-password {
  margin: 0;
  margin-bottom: 50px;
}
.signin-form .forgot-password a {
  color: #C27272;
  text-decoration: none;
}

.form-floating {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 410px;
  width: 50vw;
}
.form-floating input, .form-floating input:focus {
  background-color: #C4C4C4;
}
.form-floating input {
  text-align: left;
  font-size: 15px;
}

@media screen and (max-width: 399px) {
  .form-floating {
    min-width: 0;
    width: 90vw;
  }
}
@media screen and (min-width: 400px) {
  .half-field {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  .half-field .left-field, .half-field .right-field {
    min-width: 200px;
    margin-top: 0;
    margin-bottom: 0;
    width: 24.7vw;
  }
  .half-field .left-field {
    margin-right: 5px;
  }
  .half-field .right-field {
    margin-left: 5px;
  }
}
.homepage {
  width: 98%;
}
.homepage .MuiSvgIcon-root {
  width: 25vw !important;
  height: 25vw !important;
  color: white;
}
.homepage button {
  background-color: transparent;
  color: transparent;
}
.homepage button :hover {
  color: #ADADAD;
}

.loading-txt {
  color: white;
  font-size: 50px;
  margin: auto;
  margin-top: 30px;
  margin-left: 100px;
}

.upload-btn {
  text-align: center;
  float: left;
  margin-left: 100px;
}
.upload-btn h1 {
  color: white;
  margin-top: -30px;
  font-weight: 700;
  text-transform: uppercase;
}
.upload-btn h1 :hover {
  color: #ADADAD;
}

.upload-btn-2 {
  float: right;
}
.upload-btn-2 .MuiSvgIcon-root {
  width: 75px !important;
  height: 75px !important;
  color: white;
}
.upload-btn-2 h1 {
  color: white;
  margin: auto;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
}
.upload-btn-2 h1 :hover {
  color: #ADADAD;
}

.web-desc {
  float: right;
  padding-right: 30px;
  margin-top: 70px;
  text-align: center;
  width: 65%;
}
.web-desc h1 {
  margin: auto;
  color: white;
  font-weight: 700;
  font-size: 40px;
}
.web-desc hr {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  height: 3px;
  color: #ADADAD;
  background-color: #ADADAD;
  width: inherit;
}
.web-desc p {
  margin: auto;
  color: #C4C4C4;
  font-size: 20px;
  width: 50%;
}

.pediction-result {
  text-align: center;
  margin-right: 75px;
}
.pediction-result img {
  width: 50%;
}
.pediction-result .crime-type {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #5B5B5B;
  width: 70%;
  height: 150px;
}
.pediction-result .crime-type h1 {
  margin: auto;
  padding-top: 49px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.logTable {
  margin-right: 2vw;
  margin-left: 2vw;
}
.logTable button {
  float: right;
  max-width: 300px;
  width: 30vw;
  min-width: 175px;
  height: 40px;
}

.form-popup {
  display: none;
  position: fixed !important;
  z-index: 9;
  padding: auto;
  overflow: scroll;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 20px rgba(0, 0, 0, 0.4156862745);
  margin: auto;
}
.form-popup .content-form {
  margin: 20px 40px;
}
.form-popup .content-form .header {
  display: flex;
}
.form-popup .content-form .header h2 {
  margin: 0;
}
.form-popup .content-form .header svg {
  margin-right: 10px !important;
}
.form-popup .content-form .header .close-button {
  float: right;
  text-align: right;
  margin: auto;
  margin-right: -10px;
  background-color: transparent;
  border: none;
  color: black;
}
.form-popup h1,
.form-popup h2,
.form-popup h3,
.form-popup .pop-up-input {
  margin: 20px 0;
}
.form-popup h1 {
  font-size: 24px;
  color: #343741;
  font-weight: 700;
}
.form-popup h2 {
  font-size: 20px;
}
.form-popup input::-moz-placeholder {
  font-size: 14px;
  color: #ACACAC;
}
.form-popup h3,
.form-popup label,
.form-popup input::placeholder {
  font-size: 14px;
  color: #ACACAC;
}
.form-popup hr {
  margin: 20px -40px;
  width: auto;
}
.form-popup .pop-up-input {
  display: grid;
}
.form-popup .pop-up-input .dropdown button {
  color: black;
  text-align: left;
}
.form-popup .pop-up-input input,
.form-popup .pop-up-input button,
.form-popup .pop-up-input .dropdown,
.form-popup .pop-up-input textarea {
  height: 48px !important;
  border-radius: 4px;
}
.form-popup .pop-up-input input {
  width: 100%;
  text-align: left;
}
.form-popup .pop-up-input input,
.form-popup .pop-up-input .dropdown,
.form-popup .pop-up-input .dropdown-menu,
.form-popup .pop-up-input textarea {
  background-color: #f1f1f1;
}
.form-popup .pop-up-input textarea {
  height: 10vh !important;
}
.form-popup .pop-up-input textarea:focus,
.form-popup .pop-up-input input:focus {
  outline: none;
  border-bottom: 1.5px solid #5D5FEF;
}
.form-popup .pop-up-button {
  display: flex;
  float: right;
  margin-bottom: 12px;
}
.form-popup .pop-up-button button {
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 5vh;
  width: 7vw;
  border-radius: 8px;
  border: 1.5px solid transparent;
  font-size: 16px;
}
.form-popup .pop-up-button .cancel-button {
  background-color: transparent;
  margin-right: 20px;
  color: black;
}
.form-popup .pop-up-button .next-button {
  background-color: #A2ABBA;
  color: white;
}
.form-popup .title {
  display: flex;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: -10px;
}
.form-popup .title button {
  color: #ACACAC;
  background-color: transparent;
  border-color: transparent;
}
.form-popup .title span {
  font-size: 20px;
}

.form-container {
  padding: 10px;
  background-color: white;
}

.form-container input,
.form-container select,
.form-container textarea {
  padding: 15px;
  margin: 5px 0 0 0;
  border: none;
  background: #f1f1f1;
}

.form-container input:focus,
.form-container select:focus {
  outline: none;
}

.form-floating select {
  height: calc(3.5rem + 2px);
}

.create-form {
  margin-top: 30px;
  height: -moz-fit-content;
  height: fit-content;
  width: 40vw;
  left: 30vw;
  right: 30vw;
}/*# sourceMappingURL=index.css.map */